<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SPA.My.MySettings.simagroConnectionString" connectionString="server=localhost;persistsecurityinfo=True;user id=root;database=simagro"
      providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <SPA.My.MySettings>
      <setting name="ENVIRONTMENT" serializeAs="String">
        <value>DEV</value>
      </setting>
    </SPA.My.MySettings>
  </applicationSettings>
  <userSettings>
    <SPA.My.MySettings>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="uid" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>database</value>
      </setting>
      <setting name="CabangID" serializeAs="String">
        <value>01</value>
      </setting>
    </SPA.My.MySettings>
  </userSettings>
</configuration>